[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
selenium = "*"
pyinstaller = {file = "https://github.com/pyinstaller/pyinstaller/archive/develop.tar.gz"}

[dev-packages]

[requires]
python_version = "3.10"
